html,body {
    height:100%;
}

body {
  margin: 0px;
  font-family: Nevis,Verdana,Helvetica,sans-serif;
}

div.pipeline {
  font-size: 50px;
  font-weight: bold;
  float: left;
  width: 33%;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
  color: #222;
  text-shadow: 0px 2px 3px #ddd;
}

#outer.pipeline.failed {
  font-size: 64px;
  height: 410px;
}

.pipeline .details {
  font-size: 30px;
  margin-top: 20px;
  padding-left: 20px;
}

#outer {
  height: 200px;
  overflow: hidden;
  position: relative;
}
#outer[id] {
  display: table;
  position: static;
}
#middle[id] {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.passed-sleeping {
  background-image: linear-gradient(top, #589949 2%, #41D141 51%, #53B844 76%);
  background-image: -webkit-linear-gradient(top, #589949 2%, #41D141 51%, #53B844 76%);
}

.passed-building {
  background-image: linear-gradient(top, #C9CF27 2%, #F9FF52 51%, #F5F51B 76%);
  background-image: -webkit-linear-gradient(top, #C9CF27 2%, #F9FF52 51%, #F5F51B 76%);
}

.failed-sleeping {
  background-image: linear-gradient(top, #421616 9%, #990F0F 55%, #A30000 78%);
  background-image: -webkit-linear-gradient(top, #421616 9%, #990F0F 55%, #A30000 78%);
}

.failed-building {
  background-image: linear-gradient(top, #A83939 2%, #E81212 51%, #CC1212 76%);
  background-image: -webkit-linear-gradient(top, #A83939 2%, #E81212 51%, #CC1212 76%);
}

.clear {
  clear: both;
}

.error-message {
  width: 100%;
  background: red;
  text-align: center;
  vertical-align: center;
  font-size: 46px;
  font-weight: bold;
}