html,body {
    height:100%;
}

body {
  margin: 0px;
  font-family: Nevis,Verdana,Helvetica,sans-serif;
}

div.pipeline {
  font-size: 46px;
  font-weight: bold;
  float: left;
  width: 24.75%;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}

#outer.pipeline.broken {
  height: 400px;
}

#outer {
  height: 200px;
  overflow: hidden;
  position: relative;
}
#outer[id] {
  display: table;
  position: static;
}
#middle[id] {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.passed-sleeping {
  background-color: green;
}

.passed-building {
  background-color: yellow;
}

.failed-sleeping {
  background-color: #C11B17;
}

.failed-building {
  background-color: #FF6103;
}

.clear {
  clear: both;
}