#screen
  .error-message{"data-bind" => "text: errorMessage"}
  %div{"data-bind" => "foreach: monitors"}
    %div{"data-bind" => "foreach: pipelines"}
      #outer.pipeline{"data-bind" => "css: { broken: status() === 'failed' }"}
        #middle{"data-bind" => "attr: { class: buildStatus }"}
          #inner{:class => "clear", "data-bind" => "text: displayName"}

