#screen
  %div{"data-bind" => "foreach: monitors"}
    %div{"data-bind" => "foreach: pipelines"}
      #outer.pipeline
        #middle{"data-bind" => "attr: { class: buildStatus }"}
          #inner{:class => "clear", "data-bind" => "text: name"}

