#screen
  .error-message{"data-bind" => "foreach: errorMessages"}
    %div{"data-bind" => "text: $data"}
  %div{"data-bind" => "foreach: monitors"}
    %div{"data-bind" => "foreach: pipelines"}
      #outer.pipeline{"data-bind" => "css: { failed: failed }"}
        #middle{"data-bind" => "attr: { class: buildStatus }"}
          #inner.clear{"data-bind" => "text: displayName"}
          .details
            .label{"data-bind" => "text: label"}
          .details{"data-bind" => "if: triggered"}
            .label Triggered by:
            %div{"data-bind" => "text: triggerer"}
          .details{"data-bind" => "if: broken"}
            .label Broken by:
            %div{"data-bind" => "foreach: buildBreakers"}
              %div{"data-bind" => "text: $data"}

